body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  background: url(media/롤배경1.jpg);
  background-size: cover;
}
form {
    width: 600px;
    margin: 20px auto;
    background-color: #eee;
    padding: 10px;
  }
  
  div {
    font-size: 15px;
    margin: 5px;
  }
  
  input,
  select {
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
  }
  
  #yy,
  #dd {
    width: 60px;
  }
  
  .join_btn {
    text-align: center;
  }
  
  .join_btn button {
    background-color: #cecece;
  }



    .m-name {
    display: inline-block;
    width: 125px;
    }

#field{
  border-radius: 15px;
  border: 2px solid black;
  margin: 0 30%;
  margin-top: 10%;
}